// color
$colorMain: #f7f7f7;
$colorGrey: #ccc;
$colorDark: #333;
$colorBlock: #000;

// font-size
$fontConfig: 62.5%;
@mixin fontSize($sizePx,$sizeRem) {
  font-size: $sizePx;
  font-size: $sizeRem;
}