@import '../../layout/variable';

.p-service {
  padding: 50px 0;
  text-align: center;
}

.p-service__list {
  @include mq(u-sp) {
    padding: 20px 0;
  }
  @include mq(o-sp) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto 50px;
  }
}

.p-service__item {
  @include mq(u-sp) {
    margin: 50px;
  }
  @include mq(o-sp) {
    width: 30%;
  }
}

.p-service__icon {
  width: 100px;
  height: 100px;
}

.p-service__topic {
  color: $colorDark;
  @include fontSize(14px,1.4rem);
  font-weight: bold;
}

.p-service__text {
  margin-top: 20px;
  color: $colorDark;
  @include fontSize(12px,1.2rem);
}